<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class="card-group">
            <div class="card">
              <img class="card-img-top" src="../../../assets/Proyectos/Calculadora.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Calculadora</h5>
                <p class="card-text">Un projecto en Java que simula una pequeña calculadora</p>
              </div>
              
            </div>
            <div class="card">
              <img class="card-img-top" src="../../../assets/Proyectos/wordle.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Wordle</h5>
                <p class="card-text">Una pequeña practica con html y css para simular este conocido juego.</p>
              </div>
              
            </div>
            <div class="card">
              <img class="card-img-top" src="../../../assets/Proyectos/album.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Album</h5>
                <p class="card-text">Un proyecto para aprender a usar bootstrap.</p>
              </div>
              
            </div>
          </div>
        
    </div>
</div>

