<div class="row">
    <h1>Hard & Soft Skill</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress 
        [title]="'HTML'"
        [titleFontSize]="'3em'"
        [showUnits]="false"
        [showSubtitle]="false"
        [showBackground]="true"
        [backgroundColor]="'#EBB9FC'"
        [percent]="85" 
        [radius]="100" 
        [outerStrokeWidth]="16" 
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#B9ECFC'" 
        [innerStrokeColor]="'#CBFCB9'" 
        [animation]="true" 
        [animationDuration]="300">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress 
        [title]="'HTML'"
        [titleFontSize]="'3em'"
        [showUnits]="false"
        [showSubtitle]="false"
        [showBackground]="true"
        [backgroundColor]="'#EBB9FC'"
        [percent]="85" 
        [radius]="100" 
        [outerStrokeWidth]="16" 
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#B9ECFC'" 
        [innerStrokeColor]="'#CBFCB9'" 
        [animation]="true" 
        [animationDuration]="300">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress 
        [title]="'HTML'"
        [titleFontSize]="'3em'"
        [showUnits]="false"
        [showSubtitle]="false"
        [showBackground]="true"
        [backgroundColor]="'#EBB9FC'"
        [percent]="85" 
        [radius]="100" 
        [outerStrokeWidth]="16" 
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#B9ECFC'" 
        [innerStrokeColor]="'#CBFCB9'" 
        [animation]="true" 
        [animationDuration]="300">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress 
        [title]="'HTML'"
        [titleFontSize]="'3em'"
        [showUnits]="false"
        [showSubtitle]="false"
        [showBackground]="true"
        [backgroundColor]="'#EBB9FC'"
        [percent]="85" 
        [radius]="100" 
        [outerStrokeWidth]="16" 
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#B9ECFC'" 
        [innerStrokeColor]="'#CBFCB9'" 
        [animation]="true" 
        [animationDuration]="300">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress 
        [title]="'HTML'"
        [titleFontSize]="'3em'"
        [showUnits]="false"
        [showSubtitle]="false"
        [showBackground]="true"
        [backgroundColor]="'#EBB9FC'"
        [percent]="85" 
        [radius]="100" 
        [outerStrokeWidth]="16" 
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#B9ECFC'" 
        [innerStrokeColor]="'#CBFCB9'" 
        [animation]="true" 
        [animationDuration]="300">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress 
        [title]="'HTML'"
        [titleFontSize]="'3em'"
        [showUnits]="false"
        [showSubtitle]="false"
        [showBackground]="true"
        [backgroundColor]="'#EBB9FC'"
        [percent]="85" 
        [radius]="100" 
        [outerStrokeWidth]="16" 
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#B9ECFC'" 
        [innerStrokeColor]="'#CBFCB9'" 
        [animation]="true" 
        [animationDuration]="300">
        </circle-progress>
    </div>
    
</div>