<div class="row">
     <div class="container">
         <div class="logo">
            <img src="../../../assets/Header/APLogo.png" id="logoAP">
         </div>
         <div class="redes">
                <a href=""><img src="../../../assets/Header/linkedin.png" id="linkedin"></a>
                <a href=""><img src="../../../assets/Header/facebook.png" id="facebook"></a>
                <a href=""><img src="../../../assets/Header/instagram.png" id="instagram"></a>
                <a href=""><img src="../../../assets/Header/github.png" id="github"></a>
                <button type="button" class="btn btn-outline-light">INGRESO</button>
         </div>
     </div>
</div>

